@{
    var ReportInput = (HierarchyCombobox.Params)ViewBag.ReportInput;
}

@using ZooIS.Components

<form method="GET" asp-action="Index">
    <div class="col-6">
        @await Component.InvokeAsync("HierarchyCombobox", ReportInput)
    </div>
</form>