@model ZooIS.Models.Animal?

@using ZooIS.Data
@using ZooIS.Components

@{
    string NoPicturePath = "/static/NoPhoto.png";
    Ref<IEntity>? SpeciesRef = ViewBag.SpeciesRef;
    HierarchyCombobox.Params SpeciesInput = new()
    {
        Flags = new()
        {
            isSearchable = true,
            isMultiselectable = false,
            isRequired = true
        },
        Title = "Вид",
        Name = "Species",
        Placeholder = "Выберите вид …",
        Value = SpeciesRef is not null ? new() { SpeciesRef } : new(),
        Url = "/Taxons/getHierarchy",
        SearchParams = new()
        {
            { "level", TaxonRank.Species }
        }
    };

    Ref<IEntity>? SexRef = ViewBag.SexRef;
    HierarchyCombobox.Params SexInput = new()
    {
        Flags = new()
        {
            isRequired = true
        },
        Title = "Пол",
        Name = "Sex",
        Value = SexRef is not null ? new() { SexRef } : new(),
        Items = ViewBag.Sex,
                Placeholder = "Выберите пол …",
    };

    List<Ref<IEntity>>? Parents = ViewBag.Parents;
    HierarchyCombobox.Params ParentsInput = new()
    {
        Flags = new()
        {
            isSearchable = true,
            isMultiselectable = true
        },
        Title = "Родители",
        Name = "Parents",
        DisabledPlaceholder = "Выберите вид",
        MaxCount = 2,
        Url = "/Animals/getRefs",
        Value = Parents ?? new(),
        SearchParams = new() { },
        Dependencies = new() { "Species" }

    };
}

<link rel="stylesheet" href="~/css/Animals/Crud.css" />
<script defer src="/js/Animal/Crud.js"></script>

<h1>Регистрация</h1>
<h4>Животного</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Crud" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="Id" id="Id" value="@Model?.Guid" />
            <div class="form-group">
                <label for="Photo">Фото</label>
                @if (Model is not null)
                {
                    <img class="d-block mb-2" src="@(Model.PicturePath ?? NoPicturePath)" title="@Model.Name" />
                }
                <input type="file" accept="image/*" name="Photo" id="Photo" />
            </div>
            <div class="form-group">
                @await Component.InvokeAsync("HierarchyCombobox", SpeciesInput)
            </div>
            <div class="form-group">
                <label asp-for="Name" class="required"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @await Component.InvokeAsync("HierarchyCombobox", SexInput)
            </div>
            <div class="form-group">
                @await Component.InvokeAsync("HierarchyCombobox", ParentsInput)
            </div>
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit">Сохранить</button>
                </div>
                <div class="ml-2">
                    <a asp-action="Index">Назад</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
