@model IEnumerable<User>

@{
    int Page = (int)ViewData["Page"];
}

<div class="flex-row">
    <h1>
        @ViewData["Title"].ToString()
        <a asp-action="Crud" class="ml-2" title="Зарегистрировать новое">+</a>
    </h1>
</div>

@await Component.InvokeAsync("IndexSearch", "Partial/_SearchForm")

@foreach (User item in Model)
{
    <a class="text-inherit" asp-action="Show" asp-route-id="@item.Id">
        <div class="card">@item.UserName</div>
    </a>
}
