@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using ZooIS.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string CurrentPage = ViewData["Title"].ToString();
    List<string> UserRoles = Context.User.Claims.Where(e => e.Type == ClaimTypes.Role).Select(e => e.Value).ToList();
    List<Page> UserPages = Page.AllPages.Where(page => page.VisibleFor.Union(UserRoles).Count() > 0).ToList();
}

<ul class="navbar-nav">
    @foreach (Page Page in UserPages){
        <li>
            <a class="nav-link text-dark @if(ViewData["Title"].ToString().Split(" ")[0] == Page.Display){@Html.Raw("font-weight-bold")}"
            asp-controller=@Page.Controller asp-action="Index">
            @Page.Display</a>
        </li>
    }
</ul>