@page
@model AccessDeniedModel

<header>
    <h1 class="text-danger">Нет доступа</h1>
    <p class="text-muted">У вас не хватает прав для просмотра этой страницы. Обратитесь к вашему системному админинстратору, если вы считаете, что это ошибка.</p>
</header>
